* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

html {
  margin: 0;
  font-size: 1rem;
  max-width: 850px;
  background-color: darkgrey;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 75% 25%;
  grid-template-columns: 75% 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
  background-color: blue;
  /*background: linear-gradient(270deg, #00ffff 0, #00ffff 16.67%, #00fcff 33.33%, #38d3ff 50%, #48acd2 66.67%, #4c8baa 83.33%, #496e86 100%);*/
  /*select:active,select:focus{
      width:100px;
      background-image: none;
  }*/
}
header .header-container1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
header .header-container1 .robot {
  margin-left: -25px;
  width: 50px;
}
header .header-container1 h1 {
  margin: 0;
  margin-left: -25px;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 0.9rem;
}
header .header-container2 h2 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1rem;
}
header select {
  width: 150px;
  /*background:transparent;
  border: none;
  background-image: url(../assets/iconos/home.svg);
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
  outline: none;*/
}
header .header_ul-pc {
  display: none;
}

main {
  /*background: linear-gradient(90deg, #00ffff 0, #00ffff 16.67%, #00ffff 33.33%, #38d3ff 50%, #49a7cd 66.67%, #4c83a0 83.33%, #47647a 100%);*/
}
main h2 {
  padding-top: 105px;
  padding-bottom: 25px;
  text-transform: uppercase;
  font-size: 1.5rem;
}
main h1:hover {
  color: blue;
  text-decoration: underline;
  font-weight: 300;
}
main form #numero1, main form #numero2 {
  width: 80%;
  max-width: 250px;
}
main form .form_container-1-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
main form .labels {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 320px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main form input[type=reset] {
  margin-top: 25px;
  padding: 7px;
  background-color: azure;
  border-radius: 10px;
}
main .main-segundoFormulario {
  padding-bottom: 50px;
}
main .main-segundoFormulario .container_internoform2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}
main .main-segundoFormulario .container_internoform2 .containervalor {
  margin-bottom: 20px;
}
main .main-segundoFormulario p {
  padding-bottom: 12px;
  padding-top: 12px;
}
main .main-segundoFormulario .alturaTriangulo p {
  padding-top: 25px;
}